main button.record-play {
    width: 10rem;
    height: 2rem;
    align-self: center;
    margin-bottom: 2rem;
    background-color: rgb(14, 60, 14);
    color: white;
    font-weight: 700;
}

main button.record-play.recording-audio {
    background-color: tomato;
    border-color: rgb(206, 74, 51);
    color: white;
}
  