main button.record-play {
    align-self: center;
    background-color: rgb(14, 60, 14);
    color: white;
    font-weight: 700;
}

main button.record-play.recording-audio {
    background-color: tomato;
    border-color: rgb(206, 74, 51);
    color: white;
}
  
.recordings-list {
    width: 100%;
}