article {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    row-gap: 0.5rem;
    width: 100%;
    margin: 1.25rem 0;
}
  
article audio {
    grid-column: 1 / span 2;
    height: 2rem;
    width: 100%;
}
  
article button.delete {
    height: 1.5rem;
    vertical-align: middle;
}
  
article p {
    margin: 0;
    margin-left: 1rem;
}
  
article button.editName {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.vanish {
  animation: vanish 1s 1;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.quality-badge {
  margin: 0;
  margin-left: 1rem;
}

.badge {
  display: inline-block;
  padding: 0.15rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.badge-voice {
  background-color: #2d5a27;
  color: #90ee90;
}

.badge-music {
  background-color: #1e3a5f;
  color: #87ceeb;
}

.badge-hifi {
  background-color: #4a1e5f;
  color: #dda0dd;
}

.badge-custom {
  background-color: #5a4a27;
  color: #f0e68c;
}