div#root {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}
